@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  color: #3557CD;
}

.bg-highlight {
  background-color: #6C5B7B;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s forwards;
}